outputs/
wandb/
__pycache__/
data/
ignore/
mem_datasets/*
datasets/cmtmedqa/train.json
datasets/huatuo26m/train.jsonl
datasets/meddialog_cn/test.json
datasets/meddialog_cn/train.json
datasets/meddialog_cn/validation.json
datasets/meddialog_cn/examiner.json
datasets/huatuo26m/examiner.json
datasets/cmtmedqa/train.json
datasets/carecall/*
eval_results/*
checkpoints/
.history/
requests/
.env
examples/dataset/carecall/*.json
examples/dataset/carecall-cache/*.json